<!---->
<launch>

<!-- localization to novatel tf -->
<node pkg="tf"  type="static_transform_publisher" name="localization_to_novatel" args="0 0 0 0 0 0 /localization /novatel 10" />

<!-- novatel to velodyne64 tf -->
<node pkg="tf"  type="static_transform_publisher" name="novatel_to_velodyne64" args="0 0 0 0 0 0 /novatel /velodyne64 10" />

<!-- novatel to velodyne16 tf -->
<node pkg="tf"  type="static_transform_publisher" name="novatel_to_velodyne16" args="0 0 0 0 0 0 /novatel /velodyne16 10" />

<!-- velodyne64 to short_camera tf -->
<node pkg="tf"  type="static_transform_publisher" name="velodyne64_to_short_camera" args="0 0 0 0 0 0 /velodyne64 /short_camera 10" />

<!-- velodyne64 to short_camera tf -->
<node pkg="tf"  type="static_transform_publisher" name="velodyne64_to_radar_front" args="0 0 0 0 0 0 /velodyne64 /radar_front 10" />

<!-- short_camera to radar tf -->
<node pkg="tf"  type="static_transform_publisher" name="short_camera_to_radar" args="0 0 0 0 0 0 /short_camera /radar 10" />

<!-- short_camera to long_camera tf -->
<node pkg="tf"  type="static_transform_publisher" name="short_camera_to_long_camera" args="0 0 0 0 0 0 /short_camera /long_camera 10" />

</launch>

